@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --Blue: hsl(223, 87%, 63%);

  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);

  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

.container-box {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
}

.text-content {
  text-align: center;
}
.text-content img {
  padding: 4rem 0rem 3rem 0rem;
}

.text-content h1 {
  font-size: 1.7rem;
  color: var(--Gray);
  font-weight: 300;
  padding-bottom: 1.5rem;
}
.text-content span {
  color: var(--Very-Dark-Blue);
  font-weight: 700;
}

.text-content p {
  padding-bottom: 2rem;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  width: 100%;
}

.subscribe input {
  padding: 1rem 9rem 1rem 1.5rem;
  border-radius: 30px;
  border: 1px solid var(--Pale-Blue);
  outline: none;
  margin-bottom: 1rem;
}

#error {
  color: var(--Light-Red);
  font-size: 13px;
  text-align: center;
  padding-top: 0.4rem;
  display: none;
}

.subscribe button {
  padding: 1rem;
  border: none;
  border-radius: 30px;
  outline: none;
  color: white;
  background-color: var(--Blue);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 1px 5px 5px 2px rgb(177, 177, 240);
}
button:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

.image img {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.footer {
  padding-top: 6rem;
  width: 100%;
}

.social {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 70%;
}
.social i {
  border: 1px solid var(--Pale-Blue);
  border-radius: 100%;
  padding: 1rem;
  width: 20%;
  height: 50%;
  cursor: pointer;
  color: var(--Blue);
}

.social i:hover {
  color: white;
  background-color: var(--Blue);
  transition: 0.3s ease;
}
.footer p {
  text-align: center;
  padding-top: 2rem;
  font-size: 14px;
  color: var(--Gray);
  padding-bottom: 4rem;
}

@media (min-width: 1100px) {
  .container-box {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .text-content img {
    padding-bottom: 2rem;
  }
  .text-content h1 {
    font-size: 2.5rem;
  }
  .text-content p {
    font-size: 1.2rem;
  }

  .subscribe {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    max-width: 0 auto;
    width: 100vw;
  }

  .subscribe input {
    width: 100%;
    padding: 1rem 12em 1rem 1rem;
  }
  .subscribe button {
    margin-left: 1rem;
    font-size: 15px;
    padding: 1rem 3rem 1rem 3rem;
    width: 12%;
    height: 100%;
  }
  #error {
    text-align: left;
    padding-left: 1.5rem;
  }
  .image {
    width: 40%;
    height: 40%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .footer {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 30%;
  }
}
